* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.background {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background {
        width: auto;
        height: 100%;
    }
}

.video-player-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

}



.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}

.logo-container img {
    max-width: 30%;
    max-height: 30%;
    margin-left: 350px;
    margin-top: 10px;

}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.title-container img {
    max-width: 100%;
    max-height: 100%;
}